/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* ... your existing styles ... */

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.demoButtonContainer {
  text-align: center;
}

.demoButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 20px 40px;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .demoButton {
    padding: 15px 30px;
    font-size: 16px;
  }
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
